body {
    display: inline-block;
    width: 1000px;
    margin-left: calc((100% - 1000px) / 2);
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fcfcfc;
}
/* HEADER */
header {
    display: inline-block;
    width: 100%;
}
header > img {
    display: inline-block;
    width: 15%;
    float: left;
}
.nav {
    display: inline-block;
    width: 70%;
    float: left;
    text-align: right;
    padding-right: 40px;
    margin-top: 5px;
}
.nav-item {
    display: inline-block;
    padding: 10px;
    text-align: right;
    line-height: 18px;
}
.nav-item-number {
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 14px;
    color: #ccc;
    line-height: 0;
}
.nav-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 0;
    color: #000;
    font-weight: 600;
}
.nav-item-link:hover {
    font-size: 20px;
    color: #f21961;
}

@media (max-width: 1030px) {
    header > img {
        width: 140px;
        margin: 30px calc(50% - 70px);
    }
    .btn-blue {
        margin-right: 90px;
    }
}
@media (max-width: 860px) {
    .nav {
        width: 700px;
        margin: 0 calc(50% - 350px);
    }
    .btn-blue {
        width: 160px;
        margin: 30px calc(50% - 80px);
    }
}
@media (max-width: 660px) {
    .nav {
        width: 350px;
        margin: 0 calc(50% - 175px);
    }
    .nav-item-link {
        font-size: 16px;
    }
    .nav-item-link:hover {
        color: #f21961;
        font-size: 16px;
    }
}

/* HERO */
.hero {
    width: 100%;
    float: left;
    margin-top: 100px;
    min-height: 80vh;
}
.hero-img {
    display: inline-block;
    width: 45%;
    float: left;
    margin-top: 30px;
}
.hero-columnTwo {
    display: inline-block;
    width: 40%;
    float: left;
    margin-left: 100px;
}

h3 {
    font-size: 28px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 15px;
}

h1 {
    font-size: 62px;
    line-height: 1;
    color: #303669;
}
.hero > .hero-columnTwo > p {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 200;
}

@media (max-width: 1030px) {
    .hero {
        width: 900px;
        margin: 100px calc(50% - 450px) 0;
    }
    .hero-img {
        width: 45%;
    }
    .hero-columnTwo {
        width: 40%;
        margin-top: -30px;
    }
}
@media (max-width: 860px) {
    .hero-img {
        width: 650px;
        margin: 0 calc(50% - 325px);
    }
    .hero-columnTwo {
        width: 670px;
        margin: 30px calc(50% - 335px);
    }
}
@media (max-width: 660px) {
    .hero-img {
        width: 400px;
        margin: 0 calc(50% - 200px);
    }
    .hero-columnTwo {
        width: 360px;
        margin: 30px calc(50% - 180px);
    }
}

/* SECTION THREE */
.section-three > .column {
    display: inline-block;
    width: 100%;
    margin-bottom: 100px;
}
.column1 {
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    padding: 0 15px;
}
.column1 > h5 {
    font-size: 20px;
    margin: 15px 0;
    color: #303669;
}
.column1 > p {
    font-size: 17px;
}

@media (max-width: 1030px) {
    .column1 {
        width: 50%;
        margin-bottom: 40px;
    }
}
@media (max-width: 860px) {
    .section-three > .column {
        width: 650px;
        margin: 40px calc(50% - 325px) 0;
    }
    .column1 {
        width: 50%;
        margin-bottom: 40px;
    }
}
@media (max-width: 660px) {
    .section-three > .column {
        width: 360px;
        margin: 40px calc(50% - 180px) 0;
    }
    .column1 {
        width: 100%;
        margin-bottom: 40px;
    }
}
